/* Margins */
@media(min-width:991px) {
    .no-padding {
        padding: 0 !important;
    }
}

.margin-top0 {
  margin-top: 0;
}

.margin-top5 {
  margin-top: 5px;
}

.margin-top10 {
  margin-top: 10px;
}

.margin-top20 {
  margin-top: 20px;
}

.margin-top40 {
  margin-top: 40px;
}

.margin-top50 {
  margin-top: 50px;
}

.margin-top70 {
  margin-top: 70px;
}

.margin-bottom0 {
  margin-bottom: 0px;
}

.margin-bottom10 {
  margin-bottom: 10px;
}

.margin-bottom20 {
  margin-bottom: 20px;
}

.margin-bottom40 {
  margin-bottom: 40px;
}

.margin-bottom50 {
  margin-bottom: 50px;
}

.margin-bottom70 {
  margin-bottom: 70px;
}

.no-border-radius {
    border-radius: 0 !important;
}

.top-form-wrapper {
    background: #116EA6;
    padding-top: 10px !important;
    color: #fff;
    display: table;
}

.form-control {
    border-radius: 0;
    box-shadow: none;
}

.project-label {
    font-size: 20px;
    font-weight: 600;
    color: #0B3A56;
}

h4 {
    color: #116EA6;
}

.btn-menu-toggle {
    font-size: 9pt;
    padding: 5px 10px;
    background: #e1e1e1;
}

.btn-export {
    padding: 2px 5px;
    margin-left: 10px;
}

hr {
    margin-top: 0;
    margin-bottom: 10px;
}

.clearfix {
    clear: both;
}

.table, .table-head-th {
    border: 2px solid #116EA6 !important;
}

.right-sidebar .table, .right-sidebar .table-head-th {
    border: 2px solid #888 !important;
}

.sub-tables .table, .sub-tables .table-head-th {
    border: 2px solid #ccc !important;
}


.form-horizontal .control-label {
    font-weight: 100;
}

.width-100 {
    width: 100%;
}

@media (min-width: 1200px) and (max-width: 1440px) {
    .no-padding-md {
        padding: 0 !important;
    }
}

@media (min-width: 1400px) {
    .padding-for-large {
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
}

@media (max-width: 1199px) {
    .padding-from-md {
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
}

@media (max-width: 1240px) {
    .overflow-x-scroll {
        overflow-x: auto;
    }
}

@media (min-width: 768px) {
    .form-horizontal .control-label {
        line-height: 1.3;
    }
}

@media (min-width: 835px) and (max-width: 1199px) {
    .top-clearfix {
        clear: both;
    }
}