#slider{
  width: 100%;
}

.steps-2 {
  border: 1px solid transparent; /*follows #slider style for sizing purposes */
  width: 100%; 
  position: relative; 
  height: 30px;
}

.tick { 
  border: 1px solid transparent; /*follows slide handle style for sizing purposes*/
  position: absolute;
  width: 1.2em;
  margin-left: -.6em;
  text-align:center;
  left: 0;
}

.slider-wrapper {
  font-size: 11px;
  width:100%;display:block;
  margin:5px auto 10px;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
  border: 1px solid #154C6E/*{borderColorDefault}*/;
  background: #0B3A56;
  cursor: pointer;
}